<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <p>Welcome to the <%= title %></p>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% brands.forEach(brand=> { %>
      <li>
        <ul>
          <li><a href="<%=brand.url%> "><%=brand.name%></a></li>
          <% if (brand.origin !=null) { %>
          <li><%= brand.origin %></li>
          <% } %> <% if (!brand.summary !=null) { %>
          <li><%= brand.summary %></li>
          <% } %>
        </ul>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
