<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/css/main.css" />
  </head>

  <body>
    <%-include ./partials/header.ejs %>
    <h2>Brand Overview</h2>
    <section class="item-detail-container">
      <h3><%=brand.name%></h3>
      <% if (brand.origin !=null) { %>
      <h4><%= brand.origin %></h4>
      <% } %> <% if (!brand.summary !=null) { %>
      <p><%= brand.summary %></p>
      <% } %>
      <div class="btns">
        <a href="<%=brand.url%>/edit">Edit</a>
        <a href="<%=brand.url%>/delete">Delete</a>
      </div>
    </section>
    <section class="browse-container">
      <h2>Browse the Brand Products</h2>
      <%-include ./partials/items_list.ejs%>
    </section>
  </body>
</html>
