<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/css/main.css" />
  </head>

  <body>
    <%-include ./partials/header.ejs %>
    <h2><%= title %></h2>
    <section class="item-list-container">
      <% brands.forEach(brand=> { %>
      <div class="item-container">
        <h3><%=brand.name%></h3>
        <% if (brand.origin !=null) { %>
        <h4><%= brand.origin %></h4>
        <% } %> <% if (!brand.summary !=null) { %>
        <p><%= brand.summary %></p>
        <% } %>
        <div class="btns">
          <a href="<%=brand.url%>">Learn More</a>
        </div>
      </div>

      <% }) %>
    </section>
    <div class="btns">
      <a href="/catalog/item/">Browse Items</a>
      <a href="/catalog/type/">Browse Types</a>
      <a href="add/">Add a Brand</a>
    </div>
  </body>
</html>
