<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <p>Welcome to the <%= title %></p>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% items.forEach(item => { %>
      <li>
        <ul>
          <li>
            <a href="<%=item.url%>"><%=item.model%></a>
          </li>
          <li><%= item.brand.name %></li>
          <% if (!item.summary ==null) { %>
          <li><%= item.summary %></li>
          <% } %>
          <li><%= item.type.attr %></li>
          <li><%= item.stock %></li>
        </ul>
      </li>
      <% }) %>
      <a href="item/add/"><button>Add</button></a>
      <a href="item/delete/"><button>Delete</button></a>
    </ul>
  </body>
</html>
