<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/css/main.css" />
  </head>
  <body>
    <%-include ./partials/header.ejs  %> 
    <h2><%= title %></h2>
    <form class="item-edit-container" method="POST" >
      <label for="model">Model:
        <input type="text" id="model" name="model" value="<%=item.model %>" />
      </label>
      
      <label for="brand">Brand:
        <select type="text" id="brand" name="brand"  >
          <option value="<%=item.brand.id %>"><%=item.brand.name %></option>
          <% brands.forEach(brand => { %>
              <% if (item.brand.id != brand.id) { %>
                  <option value="<%=brand.id %>"><%=brand.name %></option>
              <% } %>
           
          <% }) %>
          </select>
      </label>
      <label for="type">Type:
        <select type="text" id="type" name="type"  >
            <option value="<%=item.type.id %>"><%=item.type.attr %></option>
            <% types.forEach(type => { %>
                <% if (item.type.id!= type.id) { %>
                    <option value="<%=type.id %>"><%=type.attr %></option>
                <% } %>
             
            <% }) %>
            </select>
            </label>
        <label for="summary">
          Summary:
          <textarea   id="summary" name="summary" value="<%-item.summary %>">
            <%- item.summary %>
        </textarea>
        </label>
        
        <label for="stock">Stock:
          <select type="text" id="stock" name="stock" value="<%=item.stock %>">
            <option value="<%="In Stock"%>"><%="In Stock"%></option>
            <option value="<%="Few Left"%>"><%="Few Left"%></option>
            <option value="<%="Out of Stock"%>"><%="Out of Stock"%></option>
        </select>
        </label>
      
      <label for="price">Price:
        <input type="text" id="price" name="price" value="<%=item.price %>" />
      </label>
      <% if (errors !=null) { %>
        <% errors.forEach(error => { %>
            <p class="form-errors"><%=error.msg %> </p>
        <% }) %>
      <% } %>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
