<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <p>Welcome to the <%= title %></p>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li><%=item.model%></li>
      <li><a href="<%=item.brand.url %>"><%=item.brand.name%></a></li>

      <li><%= item.summary %></li>

      <li>
        <a href="<%=item.type.url %>"><%=item.type.attr%></a>
      </li>
      <li><%= item.stock %></li>
      <form method="POST">
        <p>Are you sure you want to delete this item?</p>
        <button type="submit">Delete</button>
      </form>
    </ul>
  </body>
</html>
