<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/css/main.css" />
  </head>
  <body>
    <%-include ./partials/header.ejs  %> 
    <h2><%= title %></h2>
    <section class="item-detail-container">
      <h3><%=item.model%></h3>
      <h4><a href="<%=item.brand.url %>"><%=item.brand.name%></a></h4>
      <p><a href="<%=item.type.url %>"><%=item.type.attr%></a></p>
      <p class="summary">
        <span>Summary</span>
        <p><%-item.summary%></p>
      </p>
      <p class="stock"><%= item.stock %></p>
      <p class="price"><%=item.price%><span>$</span></p>
      <form class="delete-form" method="POST">
        <p>Are you sure you want to delete this item?</p>
        <button type="submit">Delete</button>
      </form>
    </section>
  </body>
</html>



