<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/css/main.css" />
  </head>

  <body>
    <%-include ./partials/header.ejs %>
    <h2><%= title %></h2>
    <form class="item-edit-container" method="POST">
      <label for="attr"
        >Attribute:
        <input type="text" name="attr" value="<%=type.attr%>" />
      </label>

      <label for="connection"
        >Connection:
        <input type="text" name="connection" value="<%=type.connection%>" />
      </label>

      <button type="submit">Submit</button>
    </form>
    <% if (errors != null) { %> <% errors.forEach(error => { %>
    <p><%=error.msg %></p>
    <% }) %> <% } %>
  </body>
</html>
