<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <p>Welcome to the <%= title %></p>
  <body>
    <h1><%= title %></h1>

    <form method="POST">
      <label for="attr">Attribute:</label>
      <input type="text" name="attr" value="<%=type.attr%>" />

      <label for="connection">Connection:</label>
      <input type="text" name="connection" value="<%=type.connection%>" />
      <button type="submit">Submit</button>
    </form>
    <% if (errors != null) { %> <% errors.forEach(error => { %>
    <p><%=error.msg %></p>
    <% }) %> <% } %>
  </body>
</html>
