<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <p>Welcome to the <%= title %></p>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% types.forEach(type => { %>
      <li>
        <ul>
          <li>
            <a href="<%=type.url%>"><%=type.attr%></a>
          </li>
          <li><%= type.connection %></li>
        </ul>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
