<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <%-include ./partials/header.ejs %>
    <h2><%= title %></h2>
    <section class="item-list-container">
      <% types.forEach(type => { %>
      <div class="item-container">
        <h3><%=type.attr%></h3>
        <h4><%= type.connection %></h4>
        <div class="btns">
          <a href="<%=type.url%>">Learn More</a>
        </div>
      </div>
      <% }) %>
    </section>
    <div class="btns">
      <a href="/catalog/brand/">Browse Brands</a>
      <a href="/catalog/item/">Browse Item</a>
      <a href="add/">Add a Type</a>
    </div>
  </body>
</html>
