<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/css/main.css" />
  </head>

  <body>
    <%-include ./partials/header.ejs %>
    <h2><%= title %></h2>
    <section class="item-detail-container">
      <h3><%=type.attr%></h3>
      <h4><%= type.connection %></h4>
      <div class="btns">
        <a href="<%=type.url%>/edit">Edit</a>
        <a href="<%=type.url%>/delete">Delete</a>
      </div>
    </section>
    <section class="browse-container">
      <h2>Browse the Brand Products</h2>
      <%-include ./partials/items_list.ejs%>
    </section>
  </body>
</html>
