<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%-include ./partials/header.ejs  %> 
    <h2><%= title %></h2>0
    <form method="POST" class="item-edit-container">
       
          
      <label for="attr">Type Attribute:
        <% if (type ==null) { %>
          <input type="text" name="attr" id="attr" placeholder="type attr Country"></input>
        <% } else { %>
        <input  type="text" name="attr" id="attr" value="<%=type.attr%>"></input>
        <% } %>
    </label>
      <label for="connection">Type connection:
        <% if (type ==null) { %>
        <input  type="text" name="connection" id="connection" placeholder="connection of the type"></input>
        <% } else { %>
            <input  type="text" name="connection" id="connection" value="<%=type.connection%>"></input>
            <% } %>
      </label>
    
      
      
      <% if (errors !=null) { %>
        <% errors.forEach(error => { %>
            <p class="form-errors"><%=error.msg %> </p>
        <% }) %>
      <% } %>
      
      <button type="submit">Submit Changes</button>
      </form>
    
  </body>
</html>
